@import 'foundation-sites';

$bg: #eee;

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html, body {
  background: $bg;
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 87.5vh;
}

#nav {
  background: $bg;
  height: 12.5vh;

  .columns {
    padding-top: 3vh;
  }

  a {
    color: $black;
  }

  .active {
    color: $primary-color;

    p {
      border-bottom: 3px solid $primary-color;
    }
  }
}

#content {
  background: $bg;
  display: none;

  p {
    margin: 0;
  }

  .info-card {
    background: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 15px;
    width: 100%;

    h4 {
      font-weight: bold;
    }

    hr {
      margin: 5px 0px;
    }
  }
}

#explore {
  display: none;
}

#schedule {
  display: none;
}
