@import 'foundation-sites';

$bg: #002855;
$accent: #daaa00;

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html, body {
  background: $bg;
  height: 100%;
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

#map {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 87.5vh;
}

#nav {
  background: $bg;
  height: 12.5vh;

  .columns {
    padding-top: 3vh;
  }

  a {
    color: $white;
  }

  .active {
    color: $accent;

    p {
      border-bottom: 3px solid $accent;
    }
  }
}

#content {
  background: $bg;
  display: none;

  p {
    margin: 0;
  }

  .info-card {
    background: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 15px;
    width: 100%;

    h4 {
      font-weight: bold;
    }

    hr {
      margin: 5px 0px;
    }

    ul, table {
      margin-bottom: 0;
    }
  }
}

#explore {
  display: none;
}

#schedule {
  display: none;
}

#login-page {
  color: $white;
  height: 50vh;
  align-items: center;
}

[type='submit'],
#classEditForm button {
  color: $white !important;
  border-radius: $button-radius;
  margin-bottom: 0;
  margin-top: 1rem;
}

#user-info {
  color: $white;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0 1rem;

  h3 {
    margin: 0;
  }

  .button {
    color: $white;
  }
}

.goButton {
  background: $success-color;
  border: 1px solid transparent;
  border-radius: 50px;
  display: inline-block;
  color: $white;
  font-size: 10px;
  height: 50px;
  margin-right: 0.5rem;
  padding: 10px;
  text-align: center;
}

#classEditForm {
  .dayLabels {
    display: flex;
    flex-direction: row;
  }

  .classDayLabel {
    display: inline-block;
    flex-grow: 1;
    text-align: center;

    input {
      display: block;
      margin: 0 auto;
    }
  }
}
