{% extends "layout.html" %}

{% block body %}

<div id="map"></div>

<div id="nav" class="row expanded text-center">
  <a class="active small-6 columns">
    <i class="fas fa-map-marker-alt fa-lg"></i>
    <p>EXPLORE</p>
  </a>
  <a class="small-6 columns">
    <i class="fas fa-address-book fa-lg"></i>
    <p>SCHEDULE</p>
  </a>
</div>

<div id="content" class="row column">
  <div class="info-card">
    <h4>NEARBY</h4>
    <hr>
    <ul id="places"></ul>
  </div>
  <br>
</div>

<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwQwhDwtBQxmyThKoI78uTkdM86yyro20&libraries=places&callback=initMap" async defer></script>

{% endblock %}
