{% extends "layout.html" %}

{% block body %}

<div id="map"></div>

<div id="nav" class="row expanded text-center">
  <a id="exploreButton" href="#nav" class="small-6 columns">
    <i class="fas fa-map-marker-alt fa-lg"></i>
    <p>EXPLORE</p>
  </a>
  <a id="scheduleButton" href="#nav" class="small-6 columns">
    <i class="fas fa-address-book fa-lg"></i>
    <p>SCHEDULE</p>
  </a>
</div>

<div id="content" class="row column">
  <div id="explore">
    <div class="info-card">
      <h4>NEARBY</h4>
      <hr>
      <ul id="places"></ul>
    </div>
  </div>
  <div id="schedule">
    <div id="login-page" class="row align-middle text-center">
      <div class="small-8 small-offset-2 columns">
        <img src="/img/ucdavis.png">
        <br>
        <br>
        <h1>LOGIN</h1>
        <form action="/login" method="post" id="login-form">
          <div class="input-group">
            <span class="input-group-label"><i class="fas fa-user"></i></span>
            <input name="username" id="nameBox" class="input-group-field" type="text" required>
          </div>
          <div class="input-group">
            <span class="input-group-label"><i class="fas fa-key"></i></span>
            <input name="password" id="passBox" class="input-group-field" type="password" required>
          </div>
          <button id="submitButton" class="success button" type="submit"><i class="fas fa-check"></i></button>
        </form>
      </div>
    </div>
    <div id="logged-page" hidden>
      <div id="user-info" class="row align-middle">
        <div id="user-welcome" class="small-9 columns">
          <h3>Welcome, <span id="user-name">Jack</span>.</h3>
          <small>We're here to help you find the way!</small>
        </div>
        <div id="logout-button" class="small-3 columns text-right">
          <button class="small alert button" onclick="logout()">Logout</button>
        </div>
      </div>

      <div class="info-card">
        <h4>NEXT CLASS</h4>
        <hr>
        <div class="row">
          <div id="nextClass" class="small-9 columns"></div>
          <div id="nextClassButton" class="small-3 columnns text-right"></div>
        </div>
      </div>
      <br>

      <div class="info-card">
        <h4>MY CLASSES</h4>
        <hr>
        <ul id="class-list"></ul>
      </div>
      <br>

      <div class="info-card">
        <h4>EDIT CLASS</h4>
        <hr>
        <form id="classEditForm">
          <label>Class name: <input type="text" name="name"></label>
          <label>Building: <input type="text" name="building"></label>
          <label>Start Time: <input type="text" name="startTime"></label>
          <label>End Time: <input type="text" name="endTime"></label>
          <span class="dayLabels">
            <label class="classDayLabel">Mon<input type="checkbox" name="monday"></label>
            <label class="classDayLabel">Tue<input type="checkbox" name="tuesday"></label>
            <label class="classDayLabel">Wed<input type="checkbox" name="wednesday"></label>
            <label class="classDayLabel">Thu<input type="checkbox" name="thursday"></label>
            <label class="classDayLabel">Fri<input type="checkbox" name="friday"></label>
            <label class="classDayLabel">Sat<input type="checkbox" name="satday"></label>
          </span>
          <div class="row column text-center">
            <button type="submit" id="saveClass" class="success button">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
</div>

{% endblock %}
