{% extends "layout.html" %}

{% block body %}

<div id="map"></div>

<div id="nav" class="row expanded text-center">
  <a id="exploreButton" href="#nav" class="small-6 columns">
    <i class="fas fa-map-marker-alt fa-lg"></i>
    <p>EXPLORE</p>
  </a>
  <a id="scheduleButton" href="#nav" class="small-6 columns">
    <i class="fas fa-address-book fa-lg"></i>
    <p>SCHEDULE</p>
  </a>
</div>

<div id="content" class="row column">
  <div id="explore">
    <div class="info-card">
      <h4>NEARBY</h4>
      <hr>
      <ul id="places"></ul>
    </div>
  </div>
  <div id="schedule">
    <div id="login-page" class="row align-middle text-center">
      <div class="small-8 small-offset-2 columns">
        <img src="/img/ucdavis.png">
        <br>
        <br>
        <h1>LOGIN</h1>
        <form action="/login" method="post" id="login-form">
          <div class="input-group">
            <span class="input-group-label"><i class="fas fa-user"></i></span>
            <input name="username" id="nameBox" class="input-group-field" type="text" required>
          </div>
          <div class="input-group">
            <span class="input-group-label"><i class="fas fa-key"></i></span>
            <input name="password" id="passBox" class="input-group-field" type="password" required>
          </div>
          <button id="submitButton" class="success button" type="submit"><i class="fas fa-check"></i></button>
        </form>
      </div>
    </div>
    <div class="info-card" id="classes" hidden>
      <h4>CLASSES</h4>
      <hr>
      <ul id="class-list"></ul>
      <button onclick="logout()" style="background-color: yellow;">log out</button>
    </div>
  </div>
  <br>
</div>

{% endblock %}
